<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Facebook app permissions</title>
    </head>

    <body>
        <h1>Facebook</h1>
        <p>
            Essa página tem o papel de pegar a permissão previa do usuário para a aplicação recuperar as informações necessárias para login
        </p>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId={{app_id}}';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-login-button" data-scope="public_profile,email" data-max-rows="1" data-size="large"
             data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true"
             data-use-continue-as="true"></div>
    </body>

</html>
